{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>login Form</title>
	<link rel="stylesheet" type="text/css" href="{% static 'login.css'%}">
</head>
<body>
	<div class="home-page">
		
		<form action="" method="post">
			<button type="submit"><a href="{% url 'CMS:home' %}">Home Page</button></a>
		</form>


	<div class="login-form">
		<h1> Admin </h1>
		<form action="" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<div class="form-group">
   				 <label for="username">Username</label><br><br>
    				 <input type="username" class="form-control" id="username" placeholder="Username" name="username">
   				 {{form.username.errors}}
  			</div><br>
			<div class="form-group">
				<label for="password">Password</label><br><br>
				<input type="password" class="form-control" id="password" placeholder="Password", name="password">
				{{form.password.errors}}
			</div><br/>
			<div class="form-group"><br>
			 <input class="btn btn-success" type="submit" name="submit" value="Login" />
			</div>
		</form>
		 {% for message in messages %}
					<p id="messages">{{message}}</p>
		 {% endfor %}

	</div>

</body>
</html>
