* {
	padding: 0;
	margin: 0;
	font-family: arial;
}

body {
	background: linear-gradient(#141e30, #141e30);
  font-family: 'Inter UI', sans-serif;
  margin: 0;
  padding: 20px;
}

.container{
	width: 350px;
	top: 40%;
	left: 40%;
	transform:translate(-50%, -50);
	position: relative;
	color: #ffff;
}
.container p {
	font-style: oblique;
	font-size: 17px;
	margin: 15px 0;
 
}
.container h1{
	color: #d4af37;
	font-family: sans-serif;
	font-size: 30px;
}

.select-box{
	width: 300px;
	position: relative;

}

.select-box select{
	height: 42px;
	padding: 10px 15px;
	line-height: 18px;
	font-size: 16;
	width: 100%;
	border: 2px solid #ccc;
	border-radius: 8px;
	-webkit-appearance:none;
	appearance:none;
}

.select-box:after{
	content: "";
	position: absolute;
	right: 8px;
	top: 50%;
	margin-top: -4px;
	border-top: 8px solid red;
	border-left: 6px solid transparent;
	border-right:  6px solid transparent;
	pointer-events: none;
}

.select-box select: focus{
	border: 2px solid green;
}
.container button{
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px 15px
	width: 50%;
	border-radius: 5px;
	border: 0;
}

.container button:hover{
	color: blue;
}

.container input{
	font-size: 16px;
	padding: 15px 10px;
	width: 50%;
	border: 0;
	border-radius: 5px;
	outline: none;
}

.home-page button{
	color: black;
	font-size: 17px;
	font-weight: inherit;
	margin: 15px, 0;
	padding: 10px 15px
	width: 30%;
	border-radius: 5px;
	border: 0;
}

.home-page button:hover{
	color: blue;
}
