* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  background: linear-gradient(#141e30, #243b55);
  
}

.Home-page {
  width: 350px;
  top: 40%;
  left: 45%;
  transform:translate(-50%, -50);
  position: absolute;
  color: #ffff; 
}
.Home-page button{
  color:#d4af37;
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
  padding: 10px 15px
  width: 70%;
  border-radius: 0.5px;
  border: 3;
}

.Home-page button:hover{ 
  color: blue;

}


.admin-login {
  position: absolute; 
    top: 10px; 
    right: 10px; 
}

.admin-login button{
  color: green;
  font-size: 17px;
  font-weight: inherit;
  margin: 15px, 0;
  padding: 25px 25px
  width: 50%;
  border-radius: 5px;
  border: 0;
}

.admin-login button:hover{
  color: blue;
}

.header h1{
  color:#d4af37;
 
  
  font-family: serif;
  
  
}
.header center{
  color:#d4af37;
 
  
  font-family: serif;
  
  
}


.Home-page h2{
  color: #d4af37;
  font-size: 30px;
  font-family: serif;
  margin: 15px, 0;
  padding: 10px 15px
  
}